@font-face {
    font-family:"Unbounded" ;
    src: url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#0E1014;
}